version: '3.1'

services:
  db:
    image: postgres:12.3
    restart: always
    environment:
      POSTGRES_PASSWORD: km1234km

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
