spring:
  jpa:
    hibernate:
      ddl-auto: create

    properties:
      hibernate:
        #        show_sql: true
        format_sql: true

  profiles:
    active: local

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.type: trace

---
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: root
    driver-class-name: org.postgresql.Driver